@media(max-width:426px) {
     .next {
          left: 0%;
          width: 85%;
     }
     
.login-form{
     width: 95%;
     height: 80%;
     align-items: center;
     justify-content: center;
     padding: 5px;
}
.login-form h1{
font-size: 18px;
margin-bottom: 70px;
}
.login-form p{
     padding-right: 32vw;
}

}

@media(max-width:770px) {
     .main-container {
          background-color: #fff;
     }

     .login-form {
          width: 95%;
          height: 80%;
     }

     .sign-in-options {
          width: 70%;
          border: 1px grey solid;
     }
}

@media(min-width:770px) and (max-width:1020px) {

     .login-form {
          width: 50%;
     }

     .sign-in-options {
          width: 50%;
     }
}